<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS | Latiham</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>



</head>

<body>
    <div id="app">
        <br>
        <input type="text" v-model="newUser"></input>
        <button @click="addUser" type="button"> Add </button>
        <div>
            <ul>
                <users v-for="user in users" :user="user"> </users>
            </ul>
        </div>


    </div>

    <template id="user-template">
        <div class="">
            <div>{{ user.name }} <button type="button"> Edit </button> || <button type="button"> Delete </button></div>
            <br>

        </div>

    </template>

    <script>
        Vue.component('users', {
            template: '#user-template',
            props: ['user']
        })


        let vm = new Vue({
            el: '#app',
            data: {
                users: [{
                    'name': 'Muhammad Iqbal Mubarok'
                }, {
                    'name': 'Ruby Purwanti'
                }, {
                    'name': 'Faqih Muhammad'
                }],
                newUser: ''
            },
            methods: {
                addUser: function () {

                    this.users.push({
                        name: this.newUser
                    })
                    this.newUser = ""
                },
                updateUser: function () {
                    Vue.set(this.users, 'name', this.newUser)
                },
                edit: function () {
                    this.users = this.newUser
                },
            }
        });
    </script>
</body>

</html>